*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	li{
		list-style-type:none;
	}
	/* baner section */
	#hero{
		height:100vh;
		background-image:url("../images/hero-bg.png");
	}
	/* .baner-btn{
		padding:5%;
	} */
	.baner-btn a{
		background-color:#7cc576;
		padding:15px 40px;
		width:20%;
		color: #fff ;
		
	}
	.baner-btn a:hover{
		background-color:#fff;
		color:#7cc576;
		transition:all 0.5s ease;
	}
	
	.baner-row h1{
		font-size:50px;
	}
	.scroll i{
		background-color: #7cc576;
		padding: 10px;
		position: fixed;
		right:5%;
		bottom:5%;
		z-index: 2;
	}
	
	/* header section */
	.home-main{
		color: #7cc576;
	}
	nav ul li a{
		color: #000;
	}
	nav ul li a:hover{
		color: #7cc576;
		transition: all 0.5s ease;
	}
	.drop-1{
		width:200px;
		position:absolute;
		top:130%; 
		display: none;
	}
	.drop-main{
		position: relative;
	}
	
	.drop-main:hover .drop-1{
		display: block;

	}
	.drop-main-2{
		position: relative;
	}
	.drop-2{
		width:200px;
		position:absolute;
		top:30%;
		left: -120%; 
		display: none;
	}
	.drop-main-2:hover .drop-2{
		display: block;	

	}
	.offcanvas-body ul li a{
		color: #000;
	}
	.offcanvas-body ul li a:hover{
		color: #7cc576;
	}

	
	/* about section */
	
	.card ul li>i {
		color:#7cc576;
	}
	
	/* service section */
	.card-sm i{
		color:#7cc576;
	}
	
	.accordion-button span{
		color:#7cc576;
	}
	.video-play{
		width:13%;
		height:15%;
		background-color:#7cc576;
		position:absolute;
		top:45%;
		left:45%;
		border-radius:50%;
		outline:10px solid #bdf2ce;
		border: 3px solid #7cc576;
		animation: bor 1s ease infinite;
	}
	.video-play:hover i{
		transform: scale(2);
	}
	@keyframes bor{
		0%{
			transform: scale(0);
		}
		50%{
			transform: scale(0.5);
		}
		100%{
			transform: scale(1);
		}
	}
	.video-play i{
		padding-top:25%;
		/* color:#fff; */
		/* font-size:20px; */
	}
	
	/* portfolio section */
	.port-card{
		position:relative;
		width:100%;
	}
	.port-card::after{
		content:"";
		border-top:2px solid #fff;
		border-left:2px solid #fff;
		width:15%;
		height:18%;
		position:absolute;
		top:13%;
		left:10%;
		opacity:0;
	}
	.port-card::before{
		content:"";
		border-bottom:2px solid #fff;
		border-right:2px solid #fff;
		width:20%;
		height:20%;
		position:absolute;
		bottom:8%;
		right:5%;
		opacity: 1;
	}
	.port-card:hover:after{
		top:8%;
		left:5%;
		transform: translate(-6%);
		transition: all 0.5s ease;
		opacity: 1;
	}
	.port-card:hover img{
		filter:brightness(50%);
		transition:all 1s ease;
	}
	/* .port-card:hover:before{
		opacity: 1;
	} */
	.port-card:hover .cont-row{
		display:block;
	}
	.cont-row{
		position:absolute;
		bottom:25%;
		left:40%;
		
		display:none;
		
	}
	.port-icon a{
		color:#fff;
	}
	.port-icon a:hover{
		color:#7cc576;
	}
	.filter-menu a:hover{
		background-color: #7cc576;
		color: #fff;
	}
	.filter-menu a{
		background-color: #e3e6e4;
		color: #000;
	}

	/* carousel section */
	#carousel-sec{
		background-image: url(../images/testimonials-bg.jpg);
		height: 80vh;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.carousel-item>img{
		filter:opacity(0%);
	
	}
	.carousel-item{
		height: 60vh;
	}
	.carousel-indicators [data-bs-target]{
		width: 10px !important;
		height:10px !important;
		background-color: #7cc576 !important ;
		border-radius:50%;
	}
	.carousel-caption img{
		border-radius: 50%;
		width: 100px;
		height: 100px;
		border: 7px solid #ffffff39;
	}
	.icon i{
		color:#7cc576;
		padding: 20px;
		border: 3px solid #7cc576;
		border-radius: 50%;
	}

	/* client section */
	
	#client-sec,.client-card img{
		background-color:whitesmoke;
	}
	.client-card img{
		filter:grayscale(100%);
	}
	.client-card img:hover{
		filter:grayscale(10%);
		transform:scale(1.2);
		transition:all 0.5s ease;
	}
	/* team section */

	.team-image{
		position: relative;
	}
	.team-card p{
		font-size:14px;
		color: #7cc576;
	}
	.team-card span{
		/* font-style: italic; */
		color: #999;
	}
	.team-icon{
		position: absolute;
		bottom: 0;
		opacity: 0;
		background-color: #7bbd75c9;
		width:100%;
		height:0%;
		/* text-align: center; */
		/* padding: 5px; */
		/* border-radius:0 0 5px 5px; */
	}
	.team-icon a{
		color: #ccc;
	}
	.team-icon a:hover{
		color: #fff;
		transition: all 0.5s ease;
	}
	.team-card:hover .team-icon{
		opacity: 1;
		translate: transformY(5%);
		transition:all 0.5s ease;
		height: 12%;
	}

	/* pricing section */
	#pricing-sec{
		background-color:whitesmoke;
	}
	.pricing-card{
		border-color: #7cc576;
	}
	.pricing-card span{
		background-color:#eaf6e9;
		width:40%;
		margin: auto;
		color: #7cc576;

	}
	.pricing-card a{
		color: #7cc576;
		padding:  8px;
		border:1px solid #7cc576;
		border-radius: 5px;
		width:50%;
		margin: auto;
	}
	.pricing-card a:hover{
		color: #fff;
		background-color: #7cc576;
		transition: all 0.5s ease;
	}
	.pricing-card .middle{
		background-color: #7cc576;
		color: #fff;
	}

	/* question section */
	.accordion-item button:hover{
		color: #7cc576;
	}

	/* contact section */
	#contact-sec{
		background-color:whitesmoke;
	}

	/* footer section */

	#foot-sec{
		background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/footer-bg.jpg");	
	}
	.foot-icon a{
		padding: 8px 11px;
		background-color: #7cc576;
	}
	.foot-icon a:hover{
		background-color: #58c34e;
		transition: all 0.5s ease;
	}
	.foot-sub a{
		background-color: #7cc576;
		padding: 0px 20px;
	}
	.foot-sub a:hover{
		background-color: #58c34e;
		transition: all 0.5s ease;
	}
	.end-foot p>span{
		color: #7cc576;
	}	

	/* contect section */

	.cont-btn a{
		
		background-color: #7cc576;
	}
	.cont-btn a:hover{
		background-color: #58c34e;
		transition: all 0.5s ease;
		
	}
	.lft-icon a{
		background-color: #bdf2ce;
		color: #7cc576;
		padding: 15px;
	}
	.lft-card:hover .lft-icon>a{
		background-color: #7cc576;
		color: #fff;
		transition: all 0.5s ease;
		
	}